/* .boardWrapper {
  padding: 0;
}

@media (min-width: 600px) {
  .boardWrapper {
    padding: 4px;
  }
}

@media (min-width: 800px) {
  .boardWrapper {
    padding: 16px;
  }
} */

.boardBgrd {
  background-image: linear-gradient(135deg, #4c00c5, #2d2285);
  box-shadow: rgb(255, 255, 255, 0.25) 0.5px 0.5px 0.3px 0.3px inset,
    5px 5px 15px 0px rgb(1 1 1 / 0.45);
}

.boardCell {
  background: radial-gradient(circle at 20% 20%,
      rgba(1, 1, 1, 0.5) 2%,
      rgba(1, 1, 1, 0.2) 40%,
      rgba(255, 255, 255, 0.2) 79%,
      rgba(255, 255, 255, 0.4) 80%,
      rgba(255, 255, 255, 0.4) 100%);
  box-shadow: rgb(255, 255, 255, 0.25) 0.5px 0.5px 0.3px 0.3px inset;
}

.boardCellPreview {
  background: rgba(255, 255, 255, 0.5);
}