.layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(circle at 5% 20%,
      rgba(255, 255, 255, 0.1) 2%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.05) 80%,
      rgba(255, 255, 255, 0) 100%),
    linear-gradient(135deg, #04012f, #1e012f);
}

.gameArea {
  flex: 1 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topSection {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  padding: 2rem;
  position: relative;
  z-index: 51;
}

.topSectionLevel {
  font-size: 32px;
  color: #4c44b4;
  text-align: center;
  line-height: 1;
}

@media (max-width: 800px) {
  .topSection {
    padding: 1.5rem;
  }
}

@media (max-width: 400px) {
  .topSection {
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 400px) {
  .topSectionLevel {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .topSectionLevel {
    font-size: 16px;
  }

  .topSection {
    padding: 1rem 0.6rem;
  }
}

.logoContainer {
  grid-column-start: 2;
  padding: 0 8px;
}

.logoContainer svg {
  width: 80px;
}

@media (max-width: 800px) {
  .logoContainer svg {
    width: 60px;
  }
}

@media (max-width: 600px) {
  .logoContainer svg {
    width: 40px;
  }
}

.toolbar {
  font-size: 40px;
  display: flex;
  gap: 24px;
  align-items: center;
}

.toolbarLeft {
  margin-right: auto;
}

.toolbarRight {
  margin-left: auto;
}

.toolbarButton {
  color: #352d9d;
  width: 48px;
}

.toolbarButton :hover {
  color: #4c44b4;
}

@media (max-width: 800px) {
  .toolbar {
    font-size: 30px;
    gap: 18px;
  }

  .toolbarButton {
    width: 36px;
  }

}

@media (max-width: 600px) {
  .toolbar {
    font-size: 20px;
    gap: 12px;
  }

  .toolbarButton {
    width: 24px;
  }
}

.toolbarButton svg {
  filter: drop-shadow(1px 1px 0 #000);
}

.helpTooltipWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.helpTooltipContainer {
  padding: 0 10px;
}

.helpTooltip {
  max-width: 360px;
  padding: 10px;
  display: flex;
  background-color: #352d9d;
  border-top: 5px solid #4c44b4;
  filter: drop-shadow(8px 8px 8px #000);
  border-radius: 12px;
  padding: 18px;
  flex-direction: column;
  gap: 18px;
}

@media (min-width: 600px) {
  .helpTooltip {
    max-width: initial;
    width: 380px;
  }
}

.helpTooltip h2 {
  font-size: 26px;
  color: #FFF;
  text-align: center;
}

.helpTooltipRow {
  display: flex;
  gap: 18px;
  align-items: flex-start;

}

.helpTooltipImg {
  position: relative;
  width: 112px;
  flex-shrink: 0;
}

.tooltipArrowRotate {
  position: absolute;
  top: 10px;
  left: 30px;
}

.tooltipArrowFlipV {
  position: absolute;
  top: 0px;
  left: 35px;
}

.tooltipArrowFlipH {
  position: absolute;
  top: 22px;
}

.helpTooltipText {
  font-size: 14px;
  color: #FFF;
}

.helpTooltipText h3 {
  font-size: 16px;
  font-weight: 500;
  color: #FFF;
}

.helpTooltipText p {
  margin-bottom: 8px;
}

.helpTooltipText pre {
  font-size: 14px;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 4px;
  background-color: #4c44b4;
  padding: 2px 4px;
  margin: 4px 0;
}

.piecesContainer {
  max-width: 1500px;
  flex: 1 0 0;
}

.solutionWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.solutionContainer {
  opacity: 0.8
}