.homeStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logoWrapper {
  margin-top: 150px;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.startButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.piecesWrappper {
  position: absolute;
  width: 100%;
}

.startButtonBorder {
  background-color: linear-gradient(135deg, #d500ff, #00deff, #fe0665);

}

.startButton {
  border-radius: 50px;
  margin: 8px;
  border: 2px solid #fff;
  background: linear-gradient(90deg, #d500ff, #00deff, #fe0665);
  padding: 12px 24px;
  display: inline-flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  font-style: italic;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  transition: background-color 0.5s ease;
  background-size: 200% 200%;
  position: relative;
  z-index: 10;
}

.startButton:hover {
  background: linear-gradient(135deg, #fe0665, #d500ff, #00deff);
}

.fallingPiece {
  position: absolute
}

@media (max-width: 600px) {
  .fallingPiece {
    display: none;
  }
}

#fallingPiece1 {
  top: 15%;
  left: 15%;
  transform: scale(0.8);
}

#fallingPiece2 {
  top: 45%;
  left: 5%;
  transform: scale(0.9);
}

@media (max-width: 900px) {
  #fallingPiece1 {
    left: 5%;
  }

  #fallingPiece2 {
    left: -5%;
  }
}

#fallingPiece3 {
  top: 60%;
  left: 30%;
  transform: scale(0.7);
}

#fallingPiece4 {
  top: 20%;
  right: calc(15% + 205px);
  transform: scale(0.9);
}

@media (max-width: 900px) {
  #fallingPiece4 {
    right: calc(5% + 205px);
  }
}

#fallingPiece5 {
  top: 50%;
  right: 15%;
  transform: scale(0.9);
}

#fallingPiece6 {
  top: 60%;
  right: 35%;
  transform: scale(0.7);
}